@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
	margin: 0 auto;
	padding: 0 auto;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-webkit-scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif  !important;
}

/* colors variable */

:root{
	--primary-color: #f5de0d;
	--secondary-primary-color: #000;
}
body{
	  counter-reset: countDots;
}
header.header{
	z-index: 999 !important;
	box-sizing: border-box;
	padding: 20px;
	background-color: #fff;
	/*box-shadow: 0px 3px 5px rgba(0,0,0,0.2);*/
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header.header .container{
	box-sizing: border-box;
}
header.header .head-body .menu-head{
	float: right;
	margin-top: -1.8rem;
}
header.header .head-body .menu-head a{
	text-decoration: none;
	color: #333;
	padding: 5px 20px;
}
header.header .head-body .title-head{
	margin-top: 0px;
}
header.header .head-body .btn-bar{
	float: right;
	display: none;
	margin-top: -30px;
	margin-right: 30px;
	background-color: red;
}

/* owl carousel */

.owl-carousel{
	margin-top: 5rem;
}
.item-carousel{
	padding: 20px;
	box-sizing: border-box;
}

.owl-wrap-text{
	max-width: 800px;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}
.owl-wrap-text p{
	box-sizing: border-box;
	margin-top: 2rem;
}
.owl-navigation{
	max-width: 800px;
	width: 100%;
	display: none;
	box-sizing: border-box;
}
.owl-navigation .btn-nav{
	padding: 5px 15px;
	font-size: 20px;
	z-index: 999;
	font-weight: bold;
}
.owl-navigation #counter{
	margin-top: 3.6rem;
}

.owl-dot {
	width: 2rem;
	border: 1px solid #dee2e6;
	overflow: hidden;
}

.owl-dot:first-child {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem;
}

.owl-dot:last-child {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem;
}

.countDot{
	width: 100%;
	border: none;
	cursor: pointer;
	background-color: #fff;
	outline: none;
	padding: .5rem .75rem;
	line-height: 1.25;
}

.owl-dots .owl-dot.active .countDot{
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.countDot:hover {
	color: #0056b3;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.countDot:before{
	counter-increment: countDots;
	content: counter(countDots);
	color: #007bff
}

.countDot.is-selected {
  background: #ED2;
}

@media only screen and (max-width: 780px){
	.carousel-cell{
		height: 300px;
	}
	.carousel-cell .carousel-content{
	background: #fff;
	padding: 20px;
	margin-top: 2rem;
	}
	.menu-head{
		text-align: center;
		background: #fff;
		width: 100%;
		height: 100vh !important;
		position: fixed;
		margin-top: 4.5rem !important;
		z-index: 999 !important;
		left: 0;
		top: 0;
		display: none;
		float: none !important;
	}
	.menu-head .menu-head-body{
		margin-top: 5rem;
	}
	.menu-head .menu-head-body a{
		display: block;
		font-size: 20px;
		margin-top: 3rem;
	}
	header.header .head-body .btn-bar{
		display: block;
	}
